{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/all",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": [
      "error",
      {
        "allow": ["error"]
      }
    ],
    "@typescript-eslint/no-type-alias": "off",
    "@typescript-eslint/consistent-type-definitions": [
      "error",
      "type"
    ]
  }
}
